*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/.gradle
/.idea
**/*.iml
app/debug/
store-key\.json
*.exec
buildSrc/.gradle/
buildSrc/build/
/vendor/
app/r8-config.txt
